---
import "../styles/global.css"; 
import Navbar from '../components/Navbar.jsx';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.jsx';
import Contact from '../components/Contact.astro';
import Footer from '../components/Company.astro';
---

<html lang="en">
  <head>
    <title>220.am</title>
    <meta name="description" content="Electrical automation and installation in Armenia." />
  </head>
  <body>
    <Navbar client:load />
    <Hero />
    <Services />
    <About />
    <Footer />
    <Contact />
  </body>
</html>
