---
// Company.astro
import worker_2_worker_1 from "@/assets/worker_2_worker_1.png";
import worker_2_worker_4 from "@/assets/worker_2_worker_4.png";
import worker_2_worker_4_drowing from "@/assets/worker_2_worker_4_drowing.png";
import worker_2 from "@/assets/worker_2.png";
import group from "@/assets/group.png";
import acSupply from "@/assets/acSupply.svg";
import Title from "../components/Title.astro";
---

<section id="gallery" class="w-[90%] mx-auto my-20 text-center">
  <Title subTitle="Gallery" title="220.am Photos" />

  <div class="flex flex-wrap justify-around items-center gap-4 mb-10">
  {
    [worker_2_worker_1, worker_2_worker_4, worker_2_worker_4_drowing, worker_2, group].map((img, index) => (
      <img
        src={img.src}
        alt={`Gallery image ${index + 1}`}
        class="h-[250px] object-cover rounded-lg"
      />
    ))
  }
</div>

  <button class="bg-blue-900 text-white px-6 py-2 rounded-full inline-flex items-center gap-2 hover:bg-gray-700 transition">
    See more here
    <img src={acSupply.src} alt="Arrow" class="h-10" />
  </button>
</section>
