---
import worker_1 from "@/assets/worker_1.png";
import worker_2_industry from "@/assets/worker_2_industry.png";
import industrial_building_maintenance from "@/assets/industrial_building_maintenance.jpeg";
import group_movie from "@/assets/group_movie.png";
import Title from "../components/Title.astro";

import { FaHome } from "react-icons/fa";
import { MdFactory } from "react-icons/md";
import { FaBuilding } from "react-icons/fa";
import { FaIndustry } from "react-icons/fa";
---

<section id="services" class="flex flex-col items-center py-20 px-4">
  <Title subTitle="Our Services" title="What We Offer" />

  <!-- <div class="flex flex-wrap justify-between gap-10 w-full max-w-6xl mt-10"> -->
   <div class="flex flex-row flex-nowrap justify-between gap-10 w-full max-w-6xl overflow-x-auto">
    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={industrial_building_maintenance.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <FaIndustry size={50}  client:only="react" />
        <p class="text-center font-medium">Industrial & Building Maintenance</p>
      </div>
    </div>

    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={worker_1.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <FaHome size={50}  client:only="react" />
        <p class="text-center font-medium">Residential Electrical Installation</p>
      </div>
    </div>

    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={worker_2_industry.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <MdFactory size={50} client:only="react" />
        <p class="text-center font-medium">Industrial Electrical Installation</p>
      </div>
    </div>

    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={group_movie.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <FaBuilding size={50} client:only="react" />
        <p class="text-center font-medium">Building Electrical Installation</p>
      </div>
    </div>
  </div>
</section>
