---
import armen from "@/assets/armen.png";
import hovo_industry from "@/assets/hovo_industry.png";
import xumb_kino from "@/assets/xumb_kino.png";
import Title from "../components/Title.astro";

import { FaHome } from "react-icons/fa";
import { MdFactory } from "react-icons/md";
import { FaBuilding } from "react-icons/fa";
---

<section id="services" class="flex flex-col items-center py-20 px-4">
  <Title subTitle="Our Services" title="What We Offer" />

  <div class="flex flex-wrap justify-between gap-10 w-full max-w-6xl mt-10">
    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={armen.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <FaHome size={50}  client:only="react" />
        <p class="text-center font-medium">Apartment Electrical Installation</p>
      </div>
    </div>

    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={hovo_industry.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <MdFactory size={50} client:only="react" />
        <p class="text-center font-medium">Manufacturing Electrical Installation</p>
      </div>
    </div>

    <div class="relative flex-[1_1_31%] max-w-[500px] h-[250px] rounded-lg overflow-hidden group">
      <img
        src={xumb_kino.src}
        alt=""
        class="w-full h-full object-cover grayscale transition-all duration-300 group-hover:grayscale-0 group-hover:scale-105"
      />
      <div class="absolute inset-0 bg-blue-900/30 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 flex flex-col items-center justify-center text-white cursor-pointer">
        <FaBuilding size={50} client:only="react" />
        <p class="text-center font-medium">Building Electrical Installation</p>
      </div>
    </div>
  </div>
</section>
